.image-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 20px;
}

.Profile-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 10px;
}

.Profile-subcontainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-width: 20%;
    margin: 10px 0;
    border-radius: 15px;
    /*position: relative;*/
}

.Profile-subcontainer .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 10px;
    padding: 15px;
    margin-bottom: 40px;
}

.Profile-lab-email {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Profile-lab-email span {
    max-width: 200px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid black;
}

.Profile-subcontainer2 {
    min-width: 70%;
    min-height: 80vh;
    margin: 10px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 10px;
    border: 1px solid black;
}

.user-infos {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.user-infos input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    outline: none;
    overflow: hidden;
}

.user-infos .lab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}


.changes-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.message {
    display: none;
}

.message.success {
    width: 400px;
    display: flex;
    margin-left: 250px;
}

.message span {
    color: green;
    width: 300px;
    margin-right: -350px;
}

.profilePic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.profilePic img {
    height: 70px;
    width: 60px;
}

.preview-profilePic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 150px;
    height: 110px;
    padding: 5px;
    border: 1px solid black;
}

.vueOfProfilePic {
    height: 75px;
    width: 70px;
}

.saveImage-container {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.saveImage-container button {
    padding: 2px;
    width: 100px;
    margin: 0;
    margin-bottom: 15px;
}

/*.save-delete-button-container {
  display: flex;
  flex-direction: column;
}*/

.camera-tag {
    font-size: 35px;
    margin-bottom: 5px;
    color: rgb(5, 103, 103);
    cursor: pointer;
}

.saveImage-container input {
    display: none;
}

@media (max-width: 900px) {
    .Profile-container {
        display: block;
    }
}